.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

.DS_Store
music-manager.yml

/reports/
work/
staging-library/

*.mp3
*.flac
*.m4a
*.aac
*.wav
*.zip
